<!DOCTYPE html>
<html>

<head>
    <title>Budget Plus | Main Page </title>
    <link rel="stylesheet" href="https://unpkg.com/primitive-ui/dist/css/main.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    
    <style>
        .hovering tr:hover td { color:cyan; background: #123; cursor: pointer; }
        .rating-stars { color:teal }
        .succeeded { color:teal }
        .failed { color:red }
        .user {text-align: end; color: grey;}
    </style>
   
</head>

<body class="small-container", style="margin-top: 70px; margin-left: 70px; margin-right: 70px;">
<div id='app'>
    <div class="Budget-Title">
        <h1>Setup Chart of Accounts</h1>
    </div>
    <form class="user" @submit.prevent="login">
        <div v-if="user">
            <div v-if="user.tenant">Tenant: {{ user.tenant }}</div>
            <div> User: {{ user.id }}</div>
            <div>Locale: {{ user.locale }}</div>
        </div>
        <div v-else>
            <input type="submit" value="Login" class="muted-button">
            <!-- <a href="/user/login()">Login</a> -->
        </div>
    </form>
            <form @submit.prevent="addTodo">
                    <label style="margin-bottom: 5px;">G/L Account code: </label>
                    <input v-model="newTodo1" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br>
                    <!-- <input id="AccountCode"style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"> -->
                    <label style="margin-bottom: 5px;">Name: </label>  
                    <input v-model="newTodo2" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br>
                    <!-- <input id="AccountName"style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"> -->
                    <label style="margin-bottom: 5px;">Balance: </label>
                    <input v-model="newTodo3" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br> 
                    <!-- <input id="AccountBalance" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"> -->
                    <label style="margin-bottom: 5px;">Currency: </label>   
                    <input v-model="newTodo4" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br> 
                    <!-- <input id="AccountCurrency" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br> -->
                    <label style="margin-bottom: 5px;">Level: </label>
                    <input v-model="newTodo5" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br>
                    <!-- <input type="text" id="AccountLevel" name="Type" minlength="4" maxlength="50" size="10" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br> -->
                    <label style="margin-bottom: 5px;">External Code: </label>   
                    <input v-model="newTodo6" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br>
                    <!-- <input type="text" id="AccountExCode" name="date" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br> -->
                    <label style="margin-bottom: 5px;">Postable: </label>  
                    <input v-model="newTodo7" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br> 
                    <!-- <input type="text" id="AccountPost" name="name" minlength="4" maxlength="50" size="10" style="position: absolute; left:400px; width:120px; margin-bottom: 5px;"></br> --> 
                <button>Add</button>  
            </form>
            <!-- <button><a href="#">Add</a></button> -->
            
            <input type="text" placeholder="Search..." @input="search">
        <!-- <div class="ald-accounts" style="display:flex;border-style: solid;width:auto"> -->
            <table id='plans' class="hovering"style="border-style: solid;width:100%">
                <thead >
                    <th> G/L Account </th>
                    <th> Name </th>
                    <th >Balance</th>
                    <th >Currency</th>
                    <th >Level</th>
                    <th >External Code</th>
                    <th >Postable</th>
                </thead>
                <tr v-for="todo in todos" v-bind:id="todo.id">
                    <td>{{ todo.newTodo1 }}</td>
                    <td>{{ todo.newTodo2 }}</td>
                    <td>{{ todo.newTodo3 }}</td>
                    <td>{{ todo.newTodo4 }}</td>
                    <td>{{ todo.newTodo5 }}</td>
                    <td>{{ todo.newTodo6 }}</td>
                    <td>{{ todo.newTodo7 }}<button @click="removeTodo(todo)">Delete</button></td>  
                </tr>
                
            </table>
        <button><a href="./Dimensions.html">Next</a></button>
    </div>       
<!-- </div> -->
</body>
<script src="data.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
    thead{
        border-bottom: 4px solid #221e1e;
    }
    td {
        display: table-cell;
        vertical-align: inherit;    
        border: 1px solid #fff;
        text-align: center;
    }
</style>
</html>
