<script type="module">
    import { createApp } from 'vue'
    
    // give each todo a unique id
    let id = 0
    
    createApp({
      data() {
        return {
          newTodo1: '',
          newTodo2: '',
          newTodo3: '',
          todos: [
            { id: id++, text1: 'Learn HTML',text2: '1',text3: '2' },
          ]
        }
      },
      methods: {
        addTodo() {
          this.todos.push({ id: id++, text1: this.newTodo1,text2: this.newTodo2,text3: this.newTodo3 })
          this.newTodo1 = ''
          this.newTodo2 = ''
          this.newTodo3 = ''
        },
        removeTodo(todo) {
          this.todos = this.todos.filter((t) => t !== todo)
        }
      }
    }).mount('#app')
    </script>
    
    <div id="app">
      <form @submit.prevent="addTodo">
        <input v-model="newTodo1">
        <input v-model="newTodo2">
        <input v-model="newTodo3">
        <button>Add Todo</button>    
      </form>
      
      
      <table id='plans' class="hovering">
            <thead>
                <th> Plan Name </th>
                <th> Users </th>      
                <th> Rating </th>
            </thead>
            <tr v-for="todo in todos" v-bind:id="todo.id">
                <td>{{ todo.text1 }}</td>
                <td>{{ todo.text2 }}</td>
                <td>{{ todo.text3 }}</td>
                           
            </tr>
        </table>
    </div>